VITE_SUPABASE_URL=https://yflbgnrliqbkbkwbrrbp.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlmbGJnbnJsaXFia2Jrd2JycmJwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3OTExMjgzMjEsImV4cCI6MjEwNjcwNDMyMX0.zf6MG-MF11-9LovzNlxEh_7UiCnAEl7Cx8CcH1YdxXg
VITE_SUPABASE_PUBLISHABLE_KEY=sb_publishable_LguUwKs4t2Mq_EihLtHPMA_mUHGe2zp
